.index_quiz_row{margin-bottom:10px}.index_quiz_row a{color:#1c77b0}

/*
     FILE ARCHIVED ON 00:07:39 May 30, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:45:29 Sep 23, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1252.358
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.079
  cdx.remote: 0.065
  esindex: 0.01
  LoadShardBlock: 76.455 (3)
  PetaboxLoader3.datanode: 86.833 (4)
  load_resource: 438.025
  PetaboxLoader3.resolve: 399.414
*/